Repository gardener/etcd-backup-restore, pull requests merged in 2018-11, with the labels that each got.

#51 Race condition fix.
  cmd/restore.go
  cmd/server.go
  cmd/snapshot.go
  cmd/types.go
  pkg/initializer/initializer.go
  pkg/server/httpAPI.go
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapshot/snapshotter/types.go
  pkg/snapstore/snapshot.go
  pkg/snapstore/types.go
Labels: area/backup, component/etcd-backup-restore, exp/intermediate, kind/bug, needs/ok-to-test, needs/rebase, needs/review, needs/tests, platform/all

#55 Add periodical defragmentation support for ETCD
  cmd/server.go
  cmd/snapshot.go
  cmd/types.go
  pkg/etcdutil/defrag.go
  pkg/etcdutil/defrag_test.go
  pkg/etcdutil/etcdutil.go
  pkg/etcdutil/etcdutil_suite_test.go
  pkg/etcdutil/types.go
  pkg/snapshot/restorer/restorer_suite_test.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapshot/snapshotter/types.go
  pkg/snapstore/gcs_snapstore.go
Labels: area/performance, component/etcd-backup-restore, exp/intermediate, kind/cleanup, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s

#58 Remove the data directory in case of a failed restore.
  pkg/initializer/initializer.go
  pkg/snapshot/restorer/restorer.go
Labels: area/robustness, component/etcd-backup-restore, kind/bug, needs/ok-to-test, platform/all, priority/critical, size/xs

#69 Integration test to check deadlock.
  .ci/integration_test
  test/e2e/integration/cloud_backup_test.go
Labels: area/robustness, exp/beginner, kind/test, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs, status/in-progress

#68 Refactor chunk upload and make the parallel uploads configurable
  cmd/initializer.go
  cmd/miscellaneous.go
  cmd/restore.go
  cmd/server.go
  cmd/snapshot.go
  cmd/types.go
  pkg/etcdutil/defrag.go
  pkg/etcdutil/defrag_test.go
  pkg/initializer/initializer.go
  pkg/initializer/validator/datavalidator.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/local_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/s3_snapstore_test.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore.go
  pkg/snapstore/types.go
  pkg/snapstore/utils.go
  test/e2e/integration/cloud_backup_test.go
Labels: area/backup, component/etcd-backup-restore, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/m, status/in-progress
