Repository gardener/etcd-backup-restore, pull requests merged in 2019-02, with the labels that each got.

#116 Fix memory leak during full snapshot
  pkg/snapshot/snapshotter/snapshotter.go
Labels: component/etcd-backup-restore, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm

#99 Stop etcd watch client when not in use and streamline the Json encoding for delta snapshot
  .ci/build
  cmd/miscellaneous.go
  cmd/root.go
  cmd/server.go
  cmd/snapshot.go
  cmd/types.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapshot/snapshotter/types.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/local_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore.go
  pkg/snapstore/types.go
  pkg/version/version.go
Labels: area/performance, component/etcd-backup-restore, exp/expert, kind/bug, needs/ok-to-test, priority/critical

#118 Fix S3 mock client race condition
  pkg/snapstore/s3_snapstore_test.go
Labels: area/quality, component/etcd-backup-restore, needs/ok-to-test, platform/aws

#119 Update image tags to 0.5.0
  CHANGELOG.md
  chart/values.yaml
  example/etcd-statefulset-aws.yaml
  example/etcd-statefulset-azure.yaml
  example/etcd-statefulset-gcp.yaml
  example/etcd-statefulset-local.yaml
  example/etcd-statefulset-openstack.yaml
  hack/templates/etcd-statefulset.yaml.tpl
Labels: area/documentation, component/etcd-backup-restore

#122 Skip snap store specific sanity check when not configured
  pkg/initializer/initializer.go
  pkg/initializer/validator/datavalidator.go
Labels: area/backup, kind/bug, needs/lgtm, needs/ok-to-test, platform/all, priority/critical

#127 Fix upload functionality in S3 mock client for unit tests
  pkg/snapstore/s3_snapstore_test.go
Labels: area/backup, component/etcd-backup-restore, kind/test, needs/ok-to-test, platform/aws, reviewed/lgtm, size/xs

#131 Fix snapstore sorting for snapshots with same timestamp
  pkg/snapstore/snapshot.go
  pkg/snapstore/snapshot_test.go
Labels: area/backup, component/etcd-backup-restore, needs/ok-to-test, platform/all, reviewed/lgtm

#128 Optimise delta snapshot to use one time json marshalling
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/types.go
Labels: area/performance, component/etcd-backup-restore, needs/ok-to-test, platform/all
