Repository gardener/etcd-backup-restore, pull requests merged in 2019-07, with the labels that each got.

#172 Fix liveness probe command in helm chart
  chart/etcd-backup-restore/templates/backup-client-service.yaml
  chart/etcd-backup-restore/templates/etcd-bootstrap-configmap.yaml
  chart/etcd-backup-restore/templates/etcd-client-service.yaml
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/templates/etcd-tls-secret.yaml
  chart/etcd-backup-restore/values.yaml
Labels: area/quality, component/etcd-backup-restore, kind/bug, kind/enhancement, needs/lgtm, needs/ok-to-test, needs/review, platform/all

#143 Expose triggering on-demand full snapshot via HTTP endpoint
  cmd/server.go
  pkg/etcdutil/defrag.go
  pkg/etcdutil/defrag_test.go
  pkg/server/httpAPI.go
  pkg/snapshot/snapshotter/snapshotter.go
Labels: area/backup, area/robustness, component/etcd-backup-restore, kind/enhancement, needs/lgtm, needs/ok-to-test, needs/review, needs/tests, platform/all, status/in-progress

#174 Adapt pod requests based on VPA recommendations
  chart/etcd-backup-restore/values.yaml
Labels: needs/ok-to-test

#175 Add helm chart linting check in CI pipeline
  .ci/check
Labels: area/quality, component/etcd-backup-restore, kind/enhancement, needs/lgtm, needs/ok-to-test, needs/review, platform/all

#170 [issue-169] Add etcd username and password command line options for c…
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
  cmd/server.go
  cmd/snapshot.go
  cmd/types.go
  pkg/etcdutil/defrag_test.go
  pkg/etcdutil/etcdutil.go
  pkg/etcdutil/types.go
  pkg/initializer/validator/validator_suite_test.go
  pkg/snapshot/restorer/restorer_suite_test.go
  pkg/snapshot/snapshotter/snapshotter_test.go
Labels: area/security, component/etcd-backup-restore, kind/api-change, kind/enhancement, needs/ok-to-test, needs/tests, platform/all, reviewed/lgtm

#178 Add developer target group to PR template
  .github/pull_request_template.md
Labels: needs/ok-to-test

#180 Initialize Prometheus metrics before exposing
  pkg/metrics/metrics.go
  pkg/metrics/metrics_suite_test.go
  pkg/metrics/metrics_test.go
  pkg/snapshot/snapshotter/snapshotter.go
Labels: area/monitoring, component/etcd-backup-restore, needs/lgtm, needs/ok-to-test, needs/review, platform/all

#179 Fix snapshotter behavior when starting it without full snapshot
  cmd/server.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_suite_test.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapstore/utils.go
Labels: area/backup, component/etcd-backup-restore, needs/lgtm, needs/ok-to-test, platform/all
