Repository gardener/etcd-backup-restore, pull requests merged in 2019-04, with the labels that each got.

#146 Update the docker alpine base image.
  build/Dockerfile
Labels: area/robustness, component/etcd-backup-restore, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs

#151 Optimize etcd readiness probe
  chart/templates/etcd-statefulset.yaml
  cmd/server.go
Labels: area/high-availability, component/etcd-backup-restore, kind/enhancement, needs/lgtm, needs/ok-to-test, needs/review, platform/all

#153 Cherry pick etcd readiness probe optimization and alpine version update
  build/Dockerfile
  chart/templates/etcd-statefulset.yaml
  cmd/server.go
Labels: area/high-availability, component/etcd-backup-restore, kind/enhancement, needs/ok-to-test, platform/all
