Repository gardener/etcd-backup-restore, pull requests merged in 2019-03, with the labels that each got.

#132 Update golang to 1.12.0
  .ci/pipeline_definitions
Labels: component/etcd-backup-restore, exp/beginner, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs

#134 Pass db quota size config to embedded etcd used by restorer
  chart/templates/etcd-statefulset.yaml
  chart/values.yaml
  cmd/initializer.go
  cmd/restore.go
  cmd/server.go
  cmd/types.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapshot/restorer/types.go
Labels: component/etcd-backup-restore, kind/bug, needs/ok-to-test, platform/all, reviewed/lgtm

#136 Cherry pick fixes from master
  chart/templates/etcd-statefulset.yaml
  chart/values.yaml
  cmd/initializer.go
  cmd/restore.go
  cmd/server.go
  cmd/types.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapshot/restorer/types.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/types.go
  pkg/snapstore/s3_snapstore_test.go
  pkg/snapstore/snapshot.go
  pkg/snapstore/snapshot_test.go
Labels: area/robustness, component/etcd-backup-restore, exp/beginner, needs/lgtm, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs

#126 Refactor garbage collector
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapstore/gcs_snapstore_test.go
Labels: area/backup, area/quality, component/etcd-backup-restore, exp/beginner, kind/cleanup, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#93 Fix/etcd data validation
  chart/templates/etcd-bootstrap-configmap.yaml
  cmd/initializer.go
  cmd/types.go
  doc/validation.md
  example/etcd-statefulset-aws.yaml
  example/etcd-statefulset-azure.yaml
  example/etcd-statefulset-gcp.yaml
  example/etcd-statefulset-local.yaml
  example/etcd-statefulset-openstack.yaml
  hack/templates/etcd-statefulset.yaml.tpl
  pkg/initializer/initializer.go
  pkg/initializer/types.go
  pkg/initializer/validator/datavalidator.go
  pkg/initializer/validator/datavalidator_test.go
  pkg/initializer/validator/types.go
  pkg/server/httpAPI.go
  test/e2e/integration/cloud_backup_test.go
Labels: component/etcd-backup-restore, exp/intermediate, needs/ok-to-test, platform/all, reviewed/lgtm, size/s

#139 Fix embedded-etcd-quota-bytes flag on helm chart
  chart/templates/etcd-bootstrap-configmap.yaml
  chart/templates/etcd-statefulset.yaml
  chart/values.yaml
Labels: component/etcd-backup-restore, needs/ok-to-test, platform/all, reviewed/lgtm, size/xs
