Repository gardener/etcd-backup-restore, pull requests merged in 2019-05, with the labels that each got.

#154 Defer first full snapshot on etcd startup
  cmd/server.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/types.go
Labels: area/backup, area/high-availability, area/performance, component/etcd-backup-restore, kind/api-change, needs/ok-to-test, platform/all, priority/critical

#158 Fix defragmentation unit tests
  pkg/etcdutil/defrag_test.go
Labels: needs/ok-to-test

#160 Fix stop-signal handling during initial delta snapshot
  cmd/server.go
Labels: area/backup, component/etcd-backup-restore, kind/bug, needs/lgtm, needs/ok-to-test, needs/review, platform/all

#161 Consider prefix while the sorting for snapshots
  pkg/snapshot/restorer/restorer.go
  pkg/snapstore/snapshot.go
  pkg/snapstore/snapshot_test.go
Labels: needs/ok-to-test

#162 Cherry pick stop signal handling and snapshot sorting fixes
  cmd/server.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapstore/snapshot.go
  pkg/snapstore/snapshot_test.go
Labels: area/backup, component/etcd-backup-restore, platform/all

#164 Fixed seg fault when type assertion fails for azure container properties fetch.
  pkg/snapstore/abs_snapstore.go
Labels: reviewed/ok-to-test
