Repository gardener/etcd-backup-restore, pull requests merged in 2019-08, with the labels that each got.

#181 Fix metrics helper functions for consistent behavior of slice capacity
  pkg/metrics/metrics.go
Labels: area/quality, component/etcd-backup-restore, needs/lgtm, needs/ok-to-test, needs/review, platform/all

#177 Restructure the documentation
  .ci/build
  .ci/check
  .ci/integration_test
  .ci/unit_test
  Makefile
  README.md
  build/Dockerfile
  doc/development/local_setup.md
  doc/development/testing_and_dependencies.md
  doc/proposals/design.md
  doc/proposals/validation.md
  doc/usage/getting_started.md
  doc/usage/metrics.md
Labels: area/documentation, component/etcd-backup-restore, needs/ok-to-test, reviewed/lgtm

#182 Log health status change.
  cmd/server.go
  pkg/server/httpAPI.go
  pkg/server/httpAPI_test.go
Labels: area/logging, component/etcd-backup-restore, needs/ok-to-test, platform/all, reviewed/lgtm

#184 Add experimental fail below revision flag
  chart/etcd-backup-restore/templates/etcd-bootstrap-configmap.yaml
  chart/etcd-backup-restore/values.yaml
  cmd/initializer.go
  cmd/server.go
  cmd/types.go
  pkg/initializer/initializer.go
  pkg/initializer/types.go
  pkg/initializer/validator/datavalidator.go
  pkg/initializer/validator/datavalidator_test.go
  pkg/initializer/validator/types.go
  pkg/server/httpAPI.go
  test/e2e/integration/cloud_backup_test.go
Labels: component/etcd-backup-restore, needs/ok-to-test, platform/all, reviewed/lgtm

#185 Update changelog
  CHANGELOG.md
Labels: area/documentation, area/open-source, component/etcd-backup-restore, needs/ok-to-test

#188 Add documentation for restoration
  chart/etcd-backup-restore/templates/etcd-bootstrap-configmap.yaml
  chart/etcd-backup-restore/values.yaml
  doc/images/restorer-sequence-diagram.png
  doc/proposals/design.md
  doc/proposals/restoration.md
  doc/usage/getting_started.md
Labels: area/documentation, component/etcd-backup-restore, needs/lgtm, needs/ok-to-test, needs/review

#190 Cleanup in-memory events before stopping snapshotter
  pkg/snapshot/snapshotter/snapshotter.go
Labels: kind/bug, needs/ok-to-test, priority/critical

#191 [hotfix] Cleanup in-memory events before stopping snapshotter
  pkg/snapshot/snapshotter/snapshotter.go
Labels: reviewed/ok-to-test
