Repository gardener/etcd-backup-restore, pull requests merged in 2020-10, with the labels that each got.

#259 Fixed the issue with consecutive restoration.
  .ci/build
  .ci/integration_test
  .ci/unit_test
  pkg/initializer/initializer.go
  pkg/snapshot/restorer/types.go
  pkg/snapshot/restorer/types_test.go
  test/e2e/integration/cloud_backup_test.go
  test/e2e/integrationcluster/backup_test.go
Labels: needs/ok-to-test, needs/ok-to-test-tm

#270 Enabled check script to run on mac and for normal user.
  .ci/check
Labels: needs/ok-to-test, needs/ok-to-test-tm

#271 Update maintainers
  CODEOWNERS
Labels: needs/ok-to-test, needs/ok-to-test-tm, reviewed/lgtm, size/xs

#273 Fixed an error in unit test cases that appears due to use of latest golang.
  pkg/snapstore/oss_snapstore_test.go
  pkg/snapstore/s3_snapstore_test.go
  pkg/snapstore/swift_snapstore_test.go
Labels: needs/ok-to-test, needs/ok-to-test-tm, size/xs

#276 Changed the chart to store local backup in the PV.
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
Labels: needs/ok-to-test, needs/ok-to-test-tm, reviewed/lgtm, size/xs

#272 Fix missing alternate full snapshots
  pkg/server/backuprestoreserver.go
Labels: area/backup, component/etcd-backup-restore, kind/bug, needs/ok-to-test, needs/ok-to-test-tm, size/xs
