Repository gardener/etcd-backup-restore, pull requests merged in 2020-11, with the labels that each got.

#280 Fix etcd image for tests
  .ci/integration_test
  .ci/performance_regression_test
  chart/etcd-backup-restore/values.yaml
Labels: kind/test, needs/ok-to-test, needs/ok-to-test-tm, size/xs

#275 Double check latest revision by starting an embedded etcd if revision check based on data dir fails during data validation
  pkg/initializer/initializer.go
  pkg/initializer/validator/datavalidator.go
  pkg/initializer/validator/datavalidator_test.go
  pkg/initializer/validator/types.go
  pkg/initializer/validator/validator_suite_test.go
  pkg/snapshot/restorer/restorer.go
Labels: needs/changes, needs/ok-to-test, needs/ok-to-test-tm, size/m

#282 Added CLI-flags to enable restoration for delta snapshots with large amount of data
  pkg/initializer/validator/datavalidator.go
  pkg/initializer/validator/validator_suite_test.go
  pkg/snapshot/restorer/init.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapshot/restorer/types.go
Labels: needs/changes, needs/ok-to-test, needs/ok-to-test-tm, size/s
