Repository gardener/etcd-backup-restore, pull requests merged in 2020-08, with the labels that each got.

#249 Integrate with Test Machinery
  .ci/integration_test
  .test-defs/IntegrationTest.yaml
  go.sum
Labels: area/quality, kind/test, needs/ok-to-test, platform/aws, reviewed/lgtm

#254 add Dell EMC ECS S3 snapstore
  .gitignore
  chart/etcd-backup-restore/templates/etcd-backup-secret.yaml
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
  doc/usage/getting_started.md
  pkg/snapstore/ecs_s3_snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/types.go
  pkg/snapstore/utils.go
Labels: needs/ok-to-test, reviewed/lgtm

#256 Add test documentation
  .ci/performance_regression_test
  README.md
  doc/development/testing_and_dependencies.md
  doc/development/tests.md
Labels: area/documentation, needs/ok-to-test, reviewed/lgtm
