Repository gardener/etcd-backup-restore, pull requests merged in 2021-07, with the labels that each got.

#348 Fix TM test location
  .ci/integration_test
  .ci/pipeline_definitions
  .ci/tm-tests-playground
  .test-defs/IntegrationTest.yaml
  pkg/snapstore/snapshot.go
  testmachinery/testruns/etcd/templates/testrun.yaml
  testmachinery/testruns/etcd/values.yaml
Labels: area/testing, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#347 Fix --skip-hash-check not work
  pkg/snapshot/restorer/restorer.go
Labels: needs/ok-to-test, needs/review, size/xs

#344 Fixed Test Machinary integration tests.
  pkg/defragmentor/defrag_test.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/swift_snapstore.go
  test/e2e/integrationcluster/backup_test.go
  test/e2e/integrationcluster/utils.go
  test/utils/utils.go
  vendor/github.com/onsi/gomega/go.mod
  vendor/github.com/onsi/gomega/gstruct/elements.go
  vendor/github.com/onsi/gomega/gstruct/errors/nested_types.go
  vendor/github.com/onsi/gomega/gstruct/fields.go
  vendor/github.com/onsi/gomega/gstruct/ignore.go
  vendor/github.com/onsi/gomega/gstruct/keys.go
  vendor/github.com/onsi/gomega/gstruct/pointer.go
  vendor/github.com/onsi/gomega/gstruct/types.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#357 Close etcd clients to fix potential memory leaks
  pkg/defragmentor/defrag_test.go
  pkg/server/backuprestoreserver.go
  pkg/snapshot/snapshotter/snapshotter.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#358 Updated compact subcommand to throw warning instead of error if revisions are already compacted
  cmd/compact.go
Labels: needs/ok-to-test, needs/review, size/xs

#359 Fix endpoints parameters in document
  doc/usage/getting_started.md
Labels: needs/ok-to-test, needs/review, size/xs
