Repository gardener/etcd-backup-restore, pull requests merged in 2021-08, with the labels that each got.

#367 Propagated data directory from user flags to compaction.
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#361 Mitigate timeout while taking FullSnapshot and while etcd defrag call
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
  cmd/compact.go
  cmd/options.go
  example/00-backup-restore-server-config.yaml
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/defragmentor/defrag.go
  pkg/defragmentor/defrag_test.go
  pkg/etcdutil/init.go
  pkg/etcdutil/types.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/types/compactor.go
Labels: needs/review, needs/ok-to-test, size/m

#371 Handled properly potential of wrong prefix formation in Azure.
  pkg/snapstore/abs_snapstore.go
Labels: size/xs, needs/rebase, needs/ok-to-test, merge/squash

#372 [Bug]Fixed an error occurred in Integration Test
  .ci/integration_test
Labels: size/xs, needs/review, needs/ok-to-test

#373 Fixed a bug that was creating a different directory for delta snapshots.
  pkg/snapshot/snapshotter/snapshotter.go
Labels: size/xs, needs/changes, needs/review, needs/ok-to-test
