Repository gardener/etcd-backup-restore, pull requests merged in 2021-06, with the labels that each got.

#328 Cleanup pipeline definitions
  .ci/pipeline_definitions
  doc/usage/generating_ssl_certificates.md
Labels: needs/ok-to-test, needs/review, size/s

#346 Fix TM test infra credential fetching
  .ci/integration_test
  .ci/tm-tests-playground
  testmachinery/testruns/etcd/templates/testrun.yaml
  testmachinery/testruns/etcd/values.yaml
Labels: area/testing, needs/ok-to-test, reviewed/lgtm, size/s

#345 Set the auto-compaction fields for Embedded-Etcd.
  pkg/miscellaneous/miscellaneous.go
  pkg/snapshot/restorer/restorer_test.go
  test/utils/utils.go
Labels: lifecycle/rotten, needs/ok-to-test, needs/review, needs/second-opinion, size/xs
