Repository gardener/etcd-backup-restore, pull requests merged in 2022-12, with the labels that each got.

#545 [Feat] min-chunk-size flag
  CONTRIBUTING.md
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/abs_snapstore_test.go
  pkg/snapstore/ecs_s3_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/generic_s3_snapstore.go
  pkg/snapstore/init.go
  pkg/snapstore/ocs_s3_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore.go
  pkg/types/snapstore.go
Labels: needs/changes, needs/review, size/s, needs/ok-to-test, merge/squash

#555 Remove owner checks
  pkg/common/cachingresolver.go
  pkg/common/cachingresolver_test.go
  pkg/common/checkeractionwatchdog.go
  pkg/common/checkeractionwatchdog_test.go
  pkg/common/common_suite_test.go
  pkg/common/namedprocesskiller.go
  pkg/common/namedprocesskiller_test.go
  pkg/common/ownerchecker.go
  pkg/common/ownerchecker_test.go
  pkg/mock/common/doc.go
  pkg/mock/common/mocks.go
  pkg/server/backuprestoreserver.go
  pkg/server/init.go
  pkg/server/types.go
  pkg/types/ownercheck.go
  test/e2e/integration/cloud_backup_test.go
Labels: needs/changes, needs/review, size/xl, needs/second-opinion, needs/ok-to-test, merge/squash

#565 Removed unused code which was left while removing ownerCheck.
  pkg/server/backuprestoreserver.go
  pkg/server/types.go
Labels: size/xs, reviewed/lgtm, needs/ok-to-test
