Repository gardener/etcd-backup-restore, pull requests merged in 2023-12, with the labels that each got.

#686 Update testmachinery image location
  .ci/pipeline_definitions
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#688 switch GCR -> Artifact-Registry
  .ci/performance_regression_test
  .ci/pipeline_definitions
  .test-defs/IntegrationTest.yaml
  Makefile
  chart/etcd-backup-restore/values.yaml
  docs/deployment/getting_started.md
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test, needs/cherry-pick

#689 [rel-v0.24] Switch GCR -> Artifact-Registry
  .ci/performance_regression_test
  .ci/pipeline_definitions
  .test-defs/IntegrationTest.yaml
  Makefile
  chart/etcd-backup-restore/values.yaml
  doc/usage/getting_started.md
Labels: area/open-source, needs/review, size/s, kind/task, needs/ok-to-test

#692 Fix awscli installation for integration test
  .ci/integration_test
Labels: kind/bug, size/xs, needs/review, needs/ok-to-test

#670 Optimize dynamic loading of IaaS Credentials using credential file timestamps
  .ci/integration_test
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/ocs_s3_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore.go
  pkg/snapstore/utils.go
Labels: size/xl, needs/second-opinion, needs/ok-to-test, merge/squash, needs/cherry-pick

#691 Add support for overriding storage API endpoint for GCS
  chart/etcd-backup-restore/templates/etcd-backup-secret.yaml
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
  docs/deployment/getting_started.md
  example/storage-provider-secrets/04-google-cloud-storage-secret.yaml
  pkg/snapstore/gcs_snapstore.go
Labels: kind/enhancement, reviewed/ok-to-test, platform/gcp, size/s, reviewed/lgtm, area/backup, needs/ok-to-test, needs/cherry-pick

#693 [rel-v0.24] Add support for overriding storage API endpoint for GCS
  .ci/integration_test
  chart/etcd-backup-restore/templates/etcd-backup-secret.yaml
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
  doc/usage/getting_started.md
  example/storage-provider-secrets/04-google-cloud-storage-secret.yaml
  pkg/snapstore/gcs_snapstore.go
Labels: kind/enhancement, reviewed/ok-to-test, platform/gcp, size/s, reviewed/lgtm, area/backup, needs/ok-to-test

#694 [rel-v0.24] Add unit tests for chunk deletion by garbage collector (#685)
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapstore/local_snapstore.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#695 [rel-v0.24] Optimize dynamic loading of IaaS Credentials using credential file timestamps
  .ci/integration_test
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/ocs_s3_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore.go
  pkg/snapstore/utils.go
Labels: reviewed/ok-to-test, size/xl, reviewed/lgtm, needs/ok-to-test
