Repository gardener/etcd-backup-restore, pull requests merged in 2023-04, with the labels that each got.

#591 Copy etcd snapshots in parallel
  Makefile
  cmd/copy.go
  cmd/options.go
  pkg/snapshot/copier/copier.go
  pkg/snapshot/copier/copier_test.go
Labels: size/s, reviewed/lgtm, needs/ok-to-test

#610 Allow for flexible build opts for other CI tools
  .ci/build
  Makefile
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#608 Enhancing the scale-up detection conditions.
  pkg/initializer/initializer.go
  pkg/member/member_control.go
  pkg/member/member_control_test.go
  pkg/miscellaneous/miscellaneous.go
  pkg/miscellaneous/miscellaneous_test.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test, merge/squash

#609 Fix and optimize restoration of delta snapshots
  .ci/unit_test
  pkg/compactor/compactor.go
  pkg/compactor/compactor_suite_test.go
  pkg/compactor/compactor_test.go
  pkg/initializer/initializer.go
  pkg/initializer/validator/datavalidator.go
  pkg/miscellaneous/miscellaneous.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_suite_test.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapshot/restorer/types_test.go
  pkg/types/restorer.go
Labels: kind/bug, reviewed/ok-to-test, component/etcd-backup-restore, size/xl, area/logging, reviewed/lgtm, needs/ok-to-test, merge/squash

#612 Upgrade alpine base image to 3.15.8
  build/Dockerfile
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#605 Added a safety check before add a learner in etcd cluster.
  pkg/errors/error.go
  pkg/initializer/initializer.go
  pkg/member/member_control_suite_test.go
  pkg/server/backuprestoreserver.go
Labels: size/s, reviewed/lgtm, needs/ok-to-test, merge/squash

#613 Upgrade to go 1.20.3
  .ci/pipeline_definitions
  build/Dockerfile
  go.mod
Labels: reviewed/ok-to-test, size/xs, area/quality, reviewed/lgtm, needs/ok-to-test

#614 Fix a bug which falsely detects scale-up scenario incase of rolling update of statefulset.
  pkg/member/member_control.go
  pkg/miscellaneous/miscellaneous.go
  pkg/miscellaneous/miscellaneous_test.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test

#616 Add unit tests for func IsClusterScaledUp.
  pkg/compactor/compactor_suite_test.go
  pkg/defragmentor/defragmentor_suite_test.go
  pkg/health/heartbeat/heartbeat_suite_test.go
  pkg/initializer/validator/datavalidator_test.go
  pkg/initializer/validator/validator_suite_test.go
  pkg/member/member_control_suite_test.go
  pkg/member/member_control_test.go
  pkg/snapshot/copier/copier_suite_test.go
  pkg/snapshot/restorer/restorer_suite_test.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapshot/snapshotter/snapshotter_suite_test.go
  test/utils/utils.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m
