Repository gardener/etcd-backup-restore, pull requests merged in 2023-11, with the labels that each got.

#675 Queries the actual store to fetch latest snapshot while serving the URL endpoint.
  pkg/server/httpAPI.go
Labels: size/xs, needs/review, needs/ok-to-test

#661 Making etcd-backup-restore restart tolerant in between of scaling-up a cluster.
  pkg/initializer/initializer.go
  pkg/member/member_control.go
Labels: reviewed/ok-to-test, needs/changes, size/s, needs/ok-to-test, needs/cherry-pick

#679 [rel-v0.24] Making etcd-backup-restore restart tolerant in between of scaling-up a cluster
  pkg/initializer/initializer.go
  pkg/member/member_control.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test

#677 [rel-v0.24] Queries the actual store to fetch latest snapshot while serving the URL endpoint.
  pkg/server/httpAPI.go
Labels: size/xs, reviewed/lgtm, needs/ok-to-test

#673 Enhancement: Implement Chunk Deletion for Multi-part Uploaded Files on GCP and Openstack Cloud Providers
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapstore/gcs_snapstore_test.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore_test.go
Labels: reviewed/ok-to-test, size/s, area/cost, reviewed/lgtm, needs/ok-to-test

#668 Make embedded etcd lean during restoration to avoid any restoration failure
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_test.go
Labels: reviewed/ok-to-test, size/l, reviewed/lgtm, needs/ok-to-test, needs/cherry-pick

#681 [Cherrypick #668] Make embedded etcd lean during restoration to avoid any restoration failure
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_test.go
Labels: needs/review, needs/second-opinion, size/l, needs/ok-to-test

#682 [Cherrypick #673] Enhancement: Implement Chunk Deletion for Multi-part Uploaded Files on GCP and Openstack Cloud Providers
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapstore/gcs_snapstore_test.go
  pkg/snapstore/snapstore_test.go
  pkg/snapstore/swift_snapstore_test.go
Labels: needs/review, size/s, needs/ok-to-test

#685 Add unit tests for chunk deletion by garbage collector
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/snapstore/local_snapstore.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m
