Repository gardener/etcd-backup-restore, pull requests merged in 2023-10, with the labels that each got.

#664 Add `example/etcd-config.yaml` to run backup-restore as a process for testing .
  example/01-etcd-config.yaml
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#667 Adds sleep command at the end of compaction (cherry-pick for rel-v0.24)
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/types/compactor.go
Labels: size/s, reviewed/lgtm, needs/ok-to-test

#669 Implement Configurable Retention Period for Delta Snapshots #640
  doc/usage/garbage_collection.md
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/types/snapshotter.go
Labels: reviewed/ok-to-test, size/xl, reviewed/lgtm, needs/ok-to-test

#666 Update alpine base image version to 3.18.4
  build/Dockerfile
Labels: kind/enhancement, reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test, area/os

#671 Add SAP Copyrights License to some file as it was missing.
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/member/member_control.go
  pkg/member/member_control_suite_test.go
  pkg/member/member_control_test.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test

#672 [Cherrypick #665] To fix checkmarxfindings: handle some error and removed some redundant code.
  cmd/initializer.go
  cmd/restore.go
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/initializer/initializer.go
  pkg/initializer/validator/datavalidator.go
  pkg/initializer/validator/validator_suite_test.go
  pkg/miscellaneous/miscellaneous.go
  pkg/server/backuprestoreserver.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/restorer/restorer_test.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/swift_snapstore.go
  test/perf/regression/backup_test.go
  test/perf/regression/utils.go
  test/utils/utils.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m, merge/squash

#674 fix: Concourse build badge URL
  README.md
Labels: size/xs, reviewed/lgtm, needs/ok-to-test
