Repository gardener/etcd-backup-restore, pull requests merged in 2024-08, with the labels that each got.

#756 Add support to override Azure Blob Storage Domain
  docs/deployment/getting_started.md
  example/storage-provider-secrets/00-azure-blob-storage-secret.yaml
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/abs_snapstore_test.go
  pkg/types/snapstore.go
Labels: reviewed/do-not-merge, size/s, reviewed/lgtm, area/backup, needs/ok-to-test, area/storage, platform/azure

#759 Stop using `*_STORAGE_API_ENDPOINT` environment variables
  chart/etcd-backup-restore/templates/etcd-backup-secret.yaml
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  chart/etcd-backup-restore/values.yaml
  docs/deployment/getting_started.md
  example/storage-provider-secrets/00-azure-blob-storage-secret.yaml
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/abs_snapstore_test.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/types/snapstore.go
Labels: reviewed/ok-to-test, area/security, area/usability, kind/task, reviewed/lgtm, needs/ok-to-test, size/m

#761 Fix a detection for a single member restoration when snapstore is not configured for zeroth pod.
  pkg/initializer/initializer.go
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#765 Retry to take full snapshot if prev full snapshot fails due to some reason.
  pkg/server/backuprestoreserver.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test, merge/squash

#767 [Cherry-pick #765] Retry to take full snapshot if prev full snapshot fails due to any reason.
  pkg/server/backuprestoreserver.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test

#766 [Cherry pick #761] Fix a detection for a single member restoration when snapstore is not configured for zeroth pod.
  pkg/initializer/initializer.go
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#768 [Cherry-pick #765] Retry to take full snapshot if prev full snapshot fails due to any reason.
  pkg/server/backuprestoreserver.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
Labels: reviewed/ok-to-test, size/s, reviewed/lgtm, needs/ok-to-test
