Repository gardener/etcd-backup-restore, pull requests merged in 2024-07, with the labels that each got.

#744 Remove the `full-snapshot-lease-update-interval` flag from etcdbr API
  pkg/snapshot/snapshotter/fullsnapshotleaseupdate.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/types/health.go
Labels: size/s, reviewed/lgtm, needs/ok-to-test

#747 [rel-v0.28] Full snapshot lease update retry on failure
  pkg/compactor/compactor.go
  pkg/health/heartbeat/heartbeat.go
  pkg/health/heartbeat/heartbeat_test.go
  pkg/server/backuprestoreserver.go
  pkg/snapshot/snapshotter/fullsnapshotleaseupdate.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapshot/snapshotter/snapshotter_test.go
  pkg/types/health.go
Labels: needs/review, needs/second-opinion, size/l, needs/ok-to-test

#754 Fix `make check` and other house keeping
  .ci/build
  .ci/check
  .ci/integration_test
  Makefile
  docs/development/new_cp_support.md
  go.mod
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test
