Repository gardener/etcd-backup-restore, pull requests merged in 2024-12, with the labels that each got.

#811 Docs: Enhance immutable snapshots guide with detailed instructions
  docs/usage/enabling_immutable_snapshots.md
  docs/usage/immutable_snapshots.md
Labels: needs/changes, needs/review, needs/second-opinion, size/l, needs/ok-to-test

#817 Update golang images to 1.23.4
  .ci/pipeline_definitions
  build/Dockerfile
Labels: reviewed/ok-to-test, size/xs, kind/task, reviewed/lgtm, area/performance, needs/ok-to-test

#815 Introduce `gosec` for Static Application Security Testing (SAST)
  .ci/check
  .ci/pipeline_definitions
  .gitignore
  Makefile
  hack/sast.sh
  hack/tools.mk
  hack/tools/install-gosec.sh
  pkg/backoff/exponentialbackoff.go
  pkg/etcdutil/etcdutil.go
  pkg/health/membergarbagecollector/membergarbagecollector.go
  pkg/initializer/validator/datavalidator.go
  pkg/member/member_control.go
  pkg/metrics/network_linux.go
  pkg/miscellaneous/miscellaneous.go
  pkg/server/httpAPI.go
  pkg/snapshot/restorer/restorer.go
  pkg/snapshot/snapshotter/garbagecollector.go
  pkg/snapshot/snapshotter/snapshotter.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/ecs_s3_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/generic_s3_snapstore.go
  pkg/snapstore/ocs_s3_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/swift_snapstore.go
  pkg/snapstore/utils.go
  pkg/types/exponentialbackoff.go
  pkg/types/restorer.go
  pkg/types/snapshotter.go
  test/e2e/integration/utils.go
Labels: kind/enhancement, area/security, needs/changes, needs/review, size/xl, needs/second-opinion, needs/ok-to-test

#819 Read `emulatorEnabled` value for storage emulators from mounted secret instead of environment variables
  chart/etcd-backup-restore/templates/etcd-statefulset.yaml
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/snapstore.go
  pkg/snapstore/snapstore_test.go
  pkg/types/snapstore.go
Labels: area/security, needs/rebase, needs/changes, needs/review, kind/task, needs/ok-to-test, size/m, area/compliance
