Repository gardener/etcd-backup-restore, pull requests merged in 2024-10, with the labels that each got.

#786 Upgrade the go toolchain to `go1.23.2`.
  .ci/pipeline_definitions
  build/Dockerfile
  go.mod
  go.sum
Labels: kind/enhancement, area/security, size/xs, area/dev-productivity, reviewed/lgtm, needs/ok-to-test, dependencies, area/compliance

#790 Use the standard Go distribution image for integration tests in the pipeline instead of the testmachinery image.
  .ci/pipeline_definitions
Labels: reviewed/ok-to-test, area/dev-productivity, reviewed/lgtm, needs/ok-to-test, area/testing

#791 Install the AWS CLI v2 through `curl`, instead of `pip`.
  .ci/integration_test
Labels: area/dev-productivity, needs/review, size/s, needs/ok-to-test, area/testing

#788 Backup-restore now restart the etcd member incase of etcd's advertise peerURL found to be updated.
  example/00-backup-restore-server-config.yaml
  pkg/member/member_control.go
  pkg/miscellaneous/miscellaneous.go
  pkg/server/backuprestoreserver.go
  pkg/server/init.go
  pkg/server/types.go
  pkg/types/etcdconnection.go
  test/e2e/integration/cloud_backup_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m, merge/squash

#794 [rel-v0.30] Backup-restore now restart the etcd member incase of etcd's advertise peerURL found to be updated.
  example/00-backup-restore-server-config.yaml
  pkg/member/member_control.go
  pkg/miscellaneous/miscellaneous.go
  pkg/server/backuprestoreserver.go
  pkg/server/init.go
  pkg/server/types.go
  pkg/types/etcdconnection.go
  test/e2e/integration/cloud_backup_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m
