Repository gardener/etcd-backup-restore, pull requests merged in 2024-05, with the labels that each got.

#740 Update CI Build link
  README.md
Labels: reviewed/ok-to-test, size/xs, reviewed/lgtm, needs/ok-to-test

#730 Add support to read JSON credential files present in a directory passed through the `<PROVIDER>_APPLICATION_CREDENTIALS` environment variable
  docs/deployment/getting_started.md
  example/storage-provider-secrets/00-azure-blob-storage-secret.yaml
  example/storage-provider-secrets/01-aws-s3-storage-secret.yaml
  example/storage-provider-secrets/02-openstack-swift-storage-secret.yaml
  example/storage-provider-secrets/03-ali-cloud-object-storage-secret.yaml
  example/storage-provider-secrets/05-openshift-container-storage-secret.yaml
  pkg/server/backuprestoreserver.go
  pkg/snapstore/abs_snapstore.go
  pkg/snapstore/ocs_s3_snapstore.go
  pkg/snapstore/oss_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/swift_snapstore.go
  pkg/snapstore/utils.go
Labels: kind/bug, platform/aws, needs/changes, needs/review, needs/second-opinion, platform/openstack, size/l, needs/ok-to-test, component/etcd-druid, platform/alicloud, platform/azure

#742 Switch to `gardener-ci` for integration tests
  .ci/integration_test
Labels: size/xs, needs/review, kind/task, needs/ok-to-test
