Repository gardener/etcd-backup-restore, pull requests merged in 2025-04, with the labels that each got.

#857 Added a support of skipping/ignoring of any snapshot in an object lock enabled S3 bucket.
  docs/usage/enabling_immutable_snapshots.md
  pkg/snapstore/gcs_snapstore.go
  pkg/snapstore/s3_snapstore.go
  pkg/snapstore/s3_snapstore_test.go
  pkg/snapstore/snapstore_test.go
  pkg/types/snapstore.go
Labels: area/security, needs/changes, needs/review, needs/ok-to-test, kind/technical-debt, size/m

#863 Nit: reorder args in Makefile.
  Makefile
Labels: size/xs, area/dev-productivity, needs/review, kind/task, needs/ok-to-test

#862 Changes in e2e tests setup required for running them in prow job environment
  hack/config/gcp_config.sh
  hack/e2e-test/run-e2e-test.sh
  test/e2e/backup_test.go
  test/e2e/utils.go
Labels: needs/review, size/s, kind/test, needs/ok-to-test, area/testing

#865 Switch Slack references to Gardener workspace
  .github/ISSUE_TEMPLATE/support.md
Labels: kind/enhancement, size/xs, area/open-source, needs/review, needs/ok-to-test

#870 Support non-HA autonomous clusters (#764)
  hack/config/gcp_config.sh
  hack/e2e-test/run-e2e-test.sh
  pkg/server/httpAPI.go
  test/e2e/backup_test.go
  test/e2e/utils.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#869 Clean up snapshot temp directory during initialization
  pkg/initializer/initializer.go
  pkg/member/member_control.go
  pkg/server/httpAPI.go
  pkg/snapstore/utils.go
  pkg/types/snapstore.go
Labels: area/security, needs/review, size/s, kind/cleanup, kind/task, needs/ok-to-test, area/compliance
